In [17]:
import numpy as np
import pandas as pd
from pandas import DataFrame
train = pd.read_csv('train.csv',sep=',')

train_nan=train.replace(0,np.nan)

columnAll=[]
for month in range(1,13):
    columnArray=[]
    for year in range(9,20):
        columnName="{0}-{1:02d}".format(2000+year,month)
        columnArray.append(columnName)
    columnAll.append(columnArray)
    
for i in range(5,12):
    columnAll[i].pop()

mean_all=np.array(list(range(train_nan.shape[0])))

for month in range(0,12):
    a=round(np.mean(train_nan[columnAll[month]],axis=1),3)
    mean_all=np.vstack([mean_all,a])
    
mean_all=mean_all.T
mean_all=np.delete(mean_all,0,axis=1)

train_full=train_nan # 백업
train_full.iloc[0,0]=0

loc_nan=list((zip(*np.where(train_full.isnull()))))

for i in range(len(loc_nan)):
    train_full.iloc[loc_nan[i]]=mean_all[loc_nan[i][0],loc_nan[i][1]%12-1]

train_full.to_csv("train_full1.csv")

In [2]:
pd.DataFrame(mean_all,columns=list(range(1,13)))

,1,2,3,4,5,6,7,8,9,10,11,12
0,20.464,25.487,21.209,13.298,8.355,5.632,4.643,4.280,3.653,4.840,7.411,13.344
1,83.664,78.814,57.962,34.145,31.092,20.262,16.605,12.155,12.155,20.360,19.967,45.178
2,141.283,120.608,98.975,95.705,59.124,20.317,19.028,17.544,13.697,27.393,61.852,76.025
3,74.247,99.159,81.779,59.313,27.501,15.717,10.871,8.566,5.488,8.453,19.767,46.682
4,61.286,73.052,50.615,40.729,26.390,15.154,11.750,9.443,8.343,11.090,16.471,36.965
...,...,...,...,...,...,...,...,...,...,...,...,...
78582,97.416,98.497,76.754,49.607,29.115,19.274,13.289,9.002,12.157,20.858,31.831,57.333
78583,89.068,82.557,79.410,54.910,58.922,49.131,34.697,22.735,16.110,24.219,39.150,71.084
78584,25.163,35.946,16.804,9.791,6.466,5.137,7.311,4.543,5.729,6.421,9.090,16.409
78585,145.415,146.311,110.547,92.122,51.496,33.215,23.526,19.274,21.452,38.360,73.457,110.139
78586,56.449,50.121,50.711,45.692,33.281,26.470,23.504,9.336,9.389,24.513,32.186,42.117

In [3]:
t_train=pd.read_csv("train.csv", encoding="utf-8", index_col=0)

In [4]:
pd.DataFrame(mean_all)

,0,1,2,3,4,5,6,7,8,9,10,11
0,20.464,25.487,21.209,13.298,8.355,5.632,4.643,4.280,3.653,4.840,7.411,13.344
1,83.664,78.814,57.962,34.145,31.092,20.262,16.605,12.155,12.155,20.360,19.967,45.178
2,141.283,120.608,98.975,95.705,59.124,20.317,19.028,17.544,13.697,27.393,61.852,76.025
3,74.247,99.159,81.779,59.313,27.501,15.717,10.871,8.566,5.488,8.453,19.767,46.682
4,61.286,73.052,50.615,40.729,26.390,15.154,11.750,9.443,8.343,11.090,16.471,36.965
...,...,...,...,...,...,...,...,...,...,...,...,...
78582,97.416,98.497,76.754,49.607,29.115,19.274,13.289,9.002,12.157,20.858,31.831,57.333
78583,89.068,82.557,79.410,54.910,58.922,49.131,34.697,22.735,16.110,24.219,39.150,71.084
78584,25.163,35.946,16.804,9.791,6.466,5.137,7.311,4.543,5.729,6.421,9.090,16.409
78585,145.415,146.311,110.547,92.122,51.496,33.215,23.526,19.274,21.452,38.360,73.457,110.139
78586,56.449,50.121,50.711,45.692,33.281,26.470,23.504,9.336,9.389,24.513,32.186,42.117

In [36]:
np.isnan(mean_all)

array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]])

In [5]:
pd.DataFrame(t_train)

,2009-01,2009-02,2009-03,2009-04,2009-05,2009-06,2009-07,2009-08,2009-09,2009-10,...,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05
id,,,,,,,,,,,,,,,,,,,,,
0,26.68,11.86,19.77,14.83,7.90,2.96,5.93,4.94,4.94,4.94,...,1.97,0.98,2.96,4.94,6.91,9.88,0.00,2.96,7.90,4.94
1,107.73,77.09,79.09,4.94,48.44,22.74,33.61,23.72,23.72,25.70,...,11.85,11.85,19.76,22.73,38.54,145.28,56.33,62.26,58.31,32.61
2,94.88,90.93,78.10,66.24,38.55,25.70,27.68,26.69,18.78,15.81,...,0.00,0.00,0.00,0.00,81.04,130.45,71.15,0.00,0.00,0.00
3,0.00,0.00,149.29,51.41,6.92,8.89,2.96,2.96,1.97,3.95,...,0.00,0.00,5.92,26.68,74.12,158.12,159.11,105.75,86.97,43.48
4,97.85,97.85,70.19,60.31,31.63,25.70,20.76,22.74,20.76,20.76,...,8.89,8.89,16.80,22.73,20.75,26.68,32.61,19.76,21.74,15.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78582,123.55,129.48,91.94,50.42,26.69,8.89,6.92,4.94,3.95,7.90,...,9.88,12.84,29.64,38.54,57.32,92.90,81.04,70.17,56.33,39.53
78583,15.81,0.00,0.00,88.98,176.97,40.53,14.83,13.84,19.77,69.20,...,19.76,20.75,23.71,33.60,60.28,46.45,53.36,36.57,44.47,29.65
78584,36.57,25.69,7.90,8.89,5.93,4.94,4.94,3.95,4.94,7.90,...,4.94,3.95,5.92,6.91,6.91,18.77,22.73,17.79,9.88,6.91
78585,196.69,198.66,157.20,140.39,85.02,51.41,34.60,26.69,26.69,50.42,...,10.87,12.84,21.74,61.27,83.01,184.81,156.15,100.81,91.92,39.53
78586,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.97,11.86,...,2.96,8.89,62.26,0.00,28.66,55.34,50.40,65.23,0.00,0.00

In [6]:
re=pd.read_csv('train_full1.csv')

In [24]:
pd.DataFrame(train_full)

,2009-01,2009-02,2009-03,2009-04,2009-05,2009-06,2009-07,2009-08,2009-09,2009-10,...,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05
0,26.680,11.860,19.770,14.830,7.900,2.96,5.930,4.940,4.94,4.94,...,1.970,0.980,2.960,4.940,6.91,9.88,25.487,2.960,7.900,4.940
1,107.730,77.090,79.090,4.940,48.440,22.74,33.610,23.720,23.72,25.70,...,11.850,11.850,19.760,22.730,38.54,145.28,56.330,62.260,58.310,32.610
2,94.880,90.930,78.100,66.240,38.550,25.70,27.680,26.690,18.78,15.81,...,17.544,13.697,27.393,61.852,81.04,130.45,71.150,98.975,95.705,59.124
3,74.247,99.159,149.290,51.410,6.920,8.89,2.960,2.960,1.97,3.95,...,8.566,5.488,5.920,26.680,74.12,158.12,159.110,105.750,86.970,43.480
4,97.850,97.850,70.190,60.310,31.630,25.70,20.760,22.740,20.76,20.76,...,8.890,8.890,16.800,22.730,20.75,26.68,32.610,19.760,21.740,15.810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78582,123.550,129.480,91.940,50.420,26.690,8.89,6.920,4.940,3.95,7.90,...,9.880,12.840,29.640,38.540,57.32,92.90,81.040,70.170,56.330,39.530
78583,15.810,82.557,79.410,88.980,176.970,40.53,14.830,13.840,19.77,69.20,...,19.760,20.750,23.710,33.600,60.28,46.45,53.360,36.570,44.470,29.650
78584,36.570,25.690,7.900,8.890,5.930,4.94,4.940,3.950,4.94,7.90,...,4.940,3.950,5.920,6.910,6.91,18.77,22.730,17.790,9.880,6.910
78585,196.690,198.660,157.200,140.390,85.020,51.41,34.600,26.690,26.69,50.42,...,10.870,12.840,21.740,61.270,83.01,184.81,156.150,100.810,91.920,39.530
78586,56.449,50.121,50.711,45.692,33.281,26.47,23.504,9.336,1.97,11.86,...,2.960,8.890,62.260,32.186,28.66,55.34,50.400,65.230,45.692,33.281

In [19]:
train_full.drop(train_full.columns[[0]],axis=1, inplace=True)

In [42]:
train_full

,2009-01,2009-02,2009-03,2009-04,2009-05,2009-06,2009-07,2009-08,2009-09,2009-10,...,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05
0,26.680,11.860,19.770,14.830,7.900,2.96,5.930,4.940,4.94,4.94,...,1.970,0.980,2.960,4.940,6.91,9.88,25.487,2.960,7.900,4.940
1,107.730,77.090,79.090,4.940,48.440,22.74,33.610,23.720,23.72,25.70,...,11.850,11.850,19.760,22.730,38.54,145.28,56.330,62.260,58.310,32.610
2,94.880,90.930,78.100,66.240,38.550,25.70,27.680,26.690,18.78,15.81,...,17.544,13.697,27.393,61.852,81.04,130.45,71.150,98.975,95.705,59.124
3,74.247,99.159,149.290,51.410,6.920,8.89,2.960,2.960,1.97,3.95,...,8.566,5.488,5.920,26.680,74.12,158.12,159.110,105.750,86.970,43.480
4,97.850,97.850,70.190,60.310,31.630,25.70,20.760,22.740,20.76,20.76,...,8.890,8.890,16.800,22.730,20.75,26.68,32.610,19.760,21.740,15.810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78582,123.550,129.480,91.940,50.420,26.690,8.89,6.920,4.940,3.95,7.90,...,9.880,12.840,29.640,38.540,57.32,92.90,81.040,70.170,56.330,39.530
78583,15.810,82.557,79.410,88.980,176.970,40.53,14.830,13.840,19.77,69.20,...,19.760,20.750,23.710,33.600,60.28,46.45,53.360,36.570,44.470,29.650
78584,36.570,25.690,7.900,8.890,5.930,4.94,4.940,3.950,4.94,7.90,...,4.940,3.950,5.920,6.910,6.91,18.77,22.730,17.790,9.880,6.910
78585,196.690,198.660,157.200,140.390,85.020,51.41,34.600,26.690,26.69,50.42,...,10.870,12.840,21.740,61.270,83.01,184.81,156.150,100.810,91.920,39.530
78586,56.449,50.121,50.711,45.692,33.281,26.47,23.504,9.336,1.97,11.86,...,2.960,8.890,62.260,32.186,28.66,55.34,50.400,65.230,45.692,33.281

In [46]:
re_train=train_full.fillna(0)

In [44]:
train_full.isnull().sum()

2009-01    100
2009-02     90
2009-03     96
2009-04    109
2009-05    131
          ...
2019-01    100
2019-02     90
2019-03     96
2019-04    109
2019-05    131
Length: 125, dtype: int64

In [47]:
re_train.to_csv("real_full.csv")